.m {
    &b {
        &__10 {
            margin-bottom: 10px;
        }
    }
    &t {
        &__10 {
            margin-top: 10px;
        }
    }
    &y {
        &__10 {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}